<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Subir datos</ion-title>
        <ion-buttons slot="end"(click)="presentActionSheet()">
            <ion-icon name="funnel"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <p class="ion-text-center">Hay un total de <ion-badge color="primary">{{ ubicaciones }}</ion-badge> registros sin subir</p>
    <ion-button [disabled]="ubicaciones == 0 " expand="block" (click)="btnSubir()">Subir datos</ion-button>
</ion-content>