<ion-content>
    <ion-row>
        <ion-col>
            <ion-datetime displayFormat="MMM  DD YYYY"  [(ngModel)]='inicio' placeholder="Inicio"></ion-datetime>
        </ion-col>
        <ion-col>
            <ion-datetime displayFormat="MMM  DD YYYY"  [(ngModel)]='fin' placeholder="Fin"></ion-datetime>
        </ion-col>
        <ion-col>
                <ion-button color="primary" (click)='generate(inicio, fin)'>Generar</ion-button>
        </ion-col>
    </ion-row>
    <ion-list>
        <ion-list-header>
        <ion-label class="ion-text-justify">
                <ion-row>
                    <ion-col>Fecha.</ion-col>
                    <ion-col>Capturas</ion-col>
                    <ion-col>Status</ion-col>
                </ion-row>  
            </ion-label>
        </ion-list-header>
       <ion-item button class="content ion-text-justify" *ngFor="let captura of capturas" (click)='registroDetails(captura.id)'>
            <ion-col>{{ captura.fecha }}</ion-col>
            <ion-col>{{ captura.captura }}</ion-col>
            <ion-col *ngIf='captura.status == 1' style="background-color: green; color: #ffffff;" >Enviado</ion-col>
            <ion-col *ngIf='captura.status == 2' style="background-color: yellow; color: #000000;" >Por Enviar</ion-col>
            <ion-col *ngIf='captura.status == 3' style="background-color: blue; color: #ffffff;" >Pendiente</ion-col>
        </ion-item>
    </ion-list>
</ion-content>