.detail{
    background-color: #ff8c00;
    color: #FFF;
    padding-left: 15pt;
    padding-top: 5pt;
}
.myPosition{
    background-color: #ffd09d;
    color: #FFF;
    height: 60px;
}
h4{
    color: #ff8c00;
    padding-left: 15pt;
}
h3{
    font-size: 15pt;
    padding-left: 15pt;
}
hr{
    background-color: #ff8c00;
    height: 4pt;
}
.rounded{
	height: 43px;
	border: 2px solid #b9aeae;
	border-radius: 4px;
	width: 200px;
}
.rounded-tree{
	height: 43px;
	border: 2px solid #b9aeae;
    border-radius: 4px;
    width: 74px;
}
.brote{
	font-size: 5pt;
}
