<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>
        SIMDIA
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
     <div class="detail" *ngFor="let c of campo">
      <ion-col>
              <ion-label>  
                  Campo: {{ c.campo }}
              </ion-label>
        </ion-col>
        <br>
        <ion-col>
            <ion-label>  
                Trampa: {{ c.name }}
            </ion-label>
        </ion-col>
        <br>
        <ion-col>
            <ion-label>  
                Geopos. Trampa: ( {{ c.x }}, {{ c.y }} )
            </ion-label>
        </ion-col>
        <br>
        <ion-col>
            <ion-label>  
                Fecha: {{ today | date }}
            </ion-label>
        </ion-col>
        <br><br>
    </div>
    <div class="myPosition ion-text-center">
        <ion-row>
            <ion-col>
                Longitud <br>
                {{ longitud | number:"1.0-5" }}
            </ion-col>
            <ion-col>
              Latitud <br>
              {{ latitud | number:"1.0-5" }}
            </ion-col>
            <ion-col>
                Precisión <br>
                {{ presicion | number:"1.0-5" }}
            </ion-col>
        </ion-row>
    </div>
    <h4><strong>Trampa</strong></h4>
    <hr>
        <ion-row>
            <ion-col>
                <h3><strong>Capturas:</strong></h3>
            </ion-col>
            <ion-col>
                <ion-input type="number" min="0" class="rounded" [(ngModel)]="captura.captura"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3><strong>Fenología:</strong></h3>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Seleccione" interface="action-sheet" class="rounded" [(ngModel)]="captura.fenologia" required>
                    <ion-select-option *ngFor="let fenologia of fenologias" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <h3><strong>Instalada:</strong></h3>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.instalada"></ion-toggle>
            </ion-col>
        </ion-row>
        <hr>
        <h4><strong>Árbol</strong></h4>
        <ion-row class="ion-text-center"> 
            <ion-col></ion-col>
            <ion-col>
                <h5><strong>Adultos</strong></h5>
            </ion-col>
            <ion-col>
                <h5><strong>Ninfas</strong></h5>
            </ion-col>
            <ion-col>
                <h5><strong>Fenología</strong></h5>
            </ion-col>       
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <br>
                <ion-label><strong>Norte:</strong></ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.noa"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.non"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Seleccione" interface="action-sheet" class="rounded-tree" [(ngModel)]="captura.nof">
                    <ion-select-option *ngFor="let fenologia of brotes" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
                </ion-select>
            </ion-col>    
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
                <br>
                <ion-label><strong>Sur:</strong></ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.sua"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.sun"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Seleccione" interface="action-sheet" class="rounded-tree" [(ngModel)]="captura.suf">
                    <ion-select-option *ngFor="let fenologia of brotes" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
                </ion-select>
            </ion-col>    
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
            <br>
                <ion-label><strong>Este:</strong></ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.esa"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.esn"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Seleccione" interface="action-sheet" class="rounded-tree" [(ngModel)]="captura.esf">
                    <ion-select-option *ngFor="let fenologia of brotes" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
                </ion-select>
            </ion-col>    
        </ion-row>
        <ion-row class="ion-text-center">
            <ion-col>
            <br>
                <ion-label><strong>Oeste:</strong></ion-label>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.oea"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-toggle color="primary" [(ngModel)]="captura.oen"></ion-toggle>
            </ion-col>
            <ion-col>
                <ion-select placeholder="Seleccione" interface="action-sheet" class="rounded-tree" [(ngModel)]="captura.oef"> 
                    <ion-select-option *ngFor="let fenologia of brotes" [value]='fenologia.id'>{{ fenologia.name }}</ion-select-option>
                </ion-select>
            </ion-col>    
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button style="--background:#ff8c00" class="btn-location" expand="block" (click)="save()">Guardar</ion-button>
            </ion-col>
        </ion-row>
</ion-content>