<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ion-title>Revisión Información</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-card *ngFor="let captura of capturas">
        <ion-card-header>
            <ion-card-title>{{ captura.campo }}</ion-card-title>
            <ion-card-subtitle>{{ captura.trampa }}</ion-card-subtitle>
            <ion-card-subtitle>{{ captura.fechaHora }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Latitud: {{ captura.y }}</ion-label>
            <br>
            <ion-label>Longitud: {{ captura.x }}</ion-label>
            <hr>
            <ion-card-subtitle>Datos Trampa:</ion-card-subtitle><br>
                <ion-label>Capturas: {{ captura.captura }}</ion-label><br>
                <ion-label>Fenología: {{ captura.fenologia }}</ion-label><br>
                <ion-label>Latitud: {{ captura.latitud }}</ion-label><br>
                <ion-label>Longitud: {{ captura.longitud }}</ion-label>
            <br><br>
            <hr>
            <ion-card-subtitle>Datos Árbol:</ion-card-subtitle><br>
                <ion-row>
                      <ion-col></ion-col>
                      <ion-col>Adultos</ion-col>
                      <ion-col>Ninfas</ion-col>
                      <ion-col>Fenología</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Norte:</ion-col>
                     <!--adultos-->
                     <ion-col *ngIf='captura.noa == 1'>
                        <ion-icon name="checkmark-circle"></ion-icon>  
                    </ion-col>
                    <ion-col *ngIf='captura.noa == 0'>
                        <ion-icon name="close-circle"></ion-icon>  
                    </ion-col>
                    <!--ninfas-->
                    <ion-col *ngIf='captura.non == 1'>
                        <ion-icon name="checkmark-circle"></ion-icon>  
                    </ion-col>
                    <ion-col *ngIf='captura.non == 0'>
                        <ion-icon name="close-circle"></ion-icon>  
                    </ion-col>
                    <ion-col style="font-size: 8pt;">{{ fenologiaBrote | fenologiasBrotes: captura.nof }}</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>Sur:</ion-col>
                    <!--adultos-->
                    <ion-col *ngIf='captura.sua == 1'>
                        <ion-icon name="checkmark-circle"></ion-icon>  
                    </ion-col>
                    <ion-col *ngIf='captura.sua == 0'>
                        <ion-icon name="close-circle"></ion-icon>  
                    </ion-col>
                    <!--Ninfas-->
                    <ion-col *ngIf='captura.sun == 1'>
                        <ion-icon name="checkmark-circle"></ion-icon>  
                    </ion-col>
                    <ion-col *ngIf='captura.sun == 0'>
                        <ion-icon name="close-circle"></ion-icon>  
                    </ion-col>
                    <ion-col style="font-size: 8pt;">{{ fenologiaBrote | fenologiasBrotes: captura.suf }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Este:</ion-col>
                <!--ADULTOS-->
                <ion-col *ngIf='captura.esa == 1'>
                    <ion-icon name="checkmark-circle"></ion-icon>  
                </ion-col>
                <ion-col *ngIf='captura.esa == 0'>
                    <ion-icon name="close-circle"></ion-icon>  
                </ion-col>
                <!--NINFAS-->
                <ion-col *ngIf='captura.esn == 1'>
                    <ion-icon name="checkmark-circle"></ion-icon>  
                </ion-col>
                <ion-col *ngIf='captura.esn == 0'>
                    <ion-icon name="close-circle"></ion-icon>  
                </ion-col>
                <ion-col style="font-size: 8pt;">{{ fenologiaBrote | fenologiasBrotes: captura.esf }}</ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Oeste:</ion-col>
                <!--Adultos-->
                <ion-col *ngIf='captura.oea == 1'>
                    <ion-icon name="checkmark-circle"></ion-icon>  
                </ion-col>
                <ion-col *ngIf='captura.oea == 0'>
                    <ion-icon name="close-circle"></ion-icon>  
                </ion-col>
                <!--Ninfas-->
                <ion-col *ngIf='captura.oen == 1'>
                    <ion-icon name="checkmark-circle"></ion-icon>  
                </ion-col>
                <ion-col *ngIf='captura.oen == 0'>
                    <ion-icon name="close-circle"></ion-icon>  
                </ion-col>
                <ion-col style="font-size: 8pt;">{{ fenologiaBrote | fenologiasBrotes: captura.oef }}</ion-col>
              </ion-row>
            <br>
        </ion-card-content>
      </ion-card>
</ion-content>
