<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Revisión información</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let brote of brotes">
        <ion-card-header>
            <ion-img src="/assets/fenologias/{{ brote.orden }}.jpg"></ion-img>
            <ion-card-title>{{ brote.name }}</ion-card-title>
        </ion-card-header>
        <!--V1-->
        <ion-card-content *ngIf='brote.id == 1' >
            <ion-label>Tamaño de brote vegetativo(cm): Yema hinchada </ion-label>
            <br>
            <ion-label>Tiempo (dias): Yema hinchda</ion-label>
            <br>
            <ion-label>Escala: V1</ion-label>
        </ion-card-content>
        <!--V2-->
        <ion-card-content *ngIf='brote.id == 2' >
          <ion-label>Tamaño de brote vegetativo(cm): 1 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 7</ion-label>
          <br>
          <ion-label>Escala: V2</ion-label>
        </ion-card-content>
        <!--V3-->
        <ion-card-content *ngIf='brote.id == 3' >
          <ion-label>Tamaño de brote vegetativo(cm): 6 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 7</ion-label>
          <br>
          <ion-label>Escala: V3</ion-label>
        </ion-card-content>
        <!--V4-->
        <ion-card-content *ngIf='brote.id == 4' >
          <ion-label>Tamaño de brote vegetativo(cm): 12 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 26</ion-label>
          <br>
          <ion-label>Escala: V4</ion-label>
        </ion-card-content>
        <!--V5-->
        <ion-card-content *ngIf='brote.id == 5' >
          <ion-label>Tamaño de brote vegetativo(cm): 16 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 34</ion-label>
          <br>
          <ion-label>Escala: V5</ion-label>
        </ion-card-content>
        <!--V6-->
        <ion-card-content *ngIf='brote.id == 6' >
          <ion-label>Tamaño de brote vegetativo(cm): 20 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 45</ion-label>
          <br>
          <ion-label>Escala: V6</ion-label>
        </ion-card-content>
        <!--V7-->
        <ion-card-content *ngIf='brote.id == 7' >
          <ion-label>Tamaño de brote vegetativo(cm): >20 </ion-label>
          <br>
          <ion-label>Tiempo (dias): 55 - 60</ion-label>
          <br>
          <ion-label>Escala: V7</ion-label>
        </ion-card-content>
      </ion-card>
</ion-content>
