<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Revisión información</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="registros">
                <ion-icon name="contacts"></ion-icon>
                <ion-label>Registros</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="ubicaciones">
                <ion-icon name="map"></ion-icon>
                <ion-label>Ubicaciones</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="fenologias">
                <ion-icon name="leaf"></ion-icon>                
                <ion-label>Fenologias</ion-label>
            </ion-tab-button>
            <ion-tab-button tab="brotes">
                <ion-icon name="information-circle"></ion-icon>
                <ion-label>Brotes</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
      
      
