<ion-app>
    <ion-split-pane>
      <ion-menu type="overlay">
          <ion-header>
              <ion-toolbar>
                  <ion-title>Menú</ion-title>
              </ion-toolbar>
          </ion-header>
          <ion-content>
                <ion-list>
                  <ion-menu-toggle auto-hide="false" >
                      <ion-item routerDirection="'root'" routerLink="/home">
                          <ion-icon slot="start" name="home"></ion-icon>
                              <ion-label>
                                  Inicio
                              </ion-label>
                      </ion-item>
                      <ion-item routerDirection="'root'" routerLink="/subir">
                          <ion-icon slot="start" name="cloud-upload"></ion-icon>
                              <ion-label>
                                  Subir Datos
                              </ion-label>
                      </ion-item>
                      <ion-item routerDirection="'root'" routerLink="/revisar">
                          <ion-icon slot="start" name="clipboard"></ion-icon>
                              <ion-label>
                                  Revisar
                              </ion-label>
                      </ion-item>
                      <ion-item routerDirection="'root'" (click)="tablas()">
                        <ion-icon slot="start" name="refresh"></ion-icon>
                            <ion-label>
                                Actualizar Tablas
                            </ion-label>
                      </ion-item>
                      <ion-item routerDirection="'root'" (click)="ubicacionesUpdate()">
                        <ion-icon slot="start" name="refresh"></ion-icon>
                            <ion-label>
                                Actualizar Ubicaciones
                            </ion-label>
                      </ion-item>
                      <ion-item routerDirection="'root'" (click)="salir()">
                          <ion-icon slot="start" name="close-circle"></ion-icon>
                              <ion-label>
                                  Salir
                              </ion-label>
                        </ion-item>
                  </ion-menu-toggle>
                </ion-list>
          </ion-content>
      </ion-menu>
      <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
