<ion-content>
    <ion-list>
        <ion-list-header>
        <ion-label class="ion-text-justify">
                <ion-row>
                    <ion-col>Trampa</ion-col>
                    <ion-col>Campo</ion-col>
                    <ion-col>Latitud</ion-col>
                    <ion-col>longitud</ion-col>
                </ion-row>  
            </ion-label>
        </ion-list-header>
        <div *ngFor="let ubicacion of ubicaciones">
            <ion-item-sliding>
                <ion-item>
                    <ion-col>{{ ubicacion.name }}</ion-col>
                    <ion-col>{{ ubicacion.campo }}</ion-col>
                    <ion-col>{{ ubicacion.y }}</ion-col>
                    <ion-col>{{ ubicacion.x }}</ion-col> 
                </ion-item>   
                <ion-item-options side="end">
                    <ion-item-option (click)="navigate(ubicacion.x, ubicacion.y)">
                        <ion-icon name="navigate">Navegar</ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </div>
    </ion-list>
</ion-content>
