<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          SIMDIA
        </ion-title>
        
    </ion-toolbar>
</ion-header>

<ion-content>
      <p class="ion-text-center">Esperando lectura o selección</p>
      <ion-card class="welcome-card ion-text-center">
        <ion-card-content>
            <ion-row>
                <ion-col>
                    Longitud <br>
                    {{ longitud | number:"1.0-5" }}
                </ion-col>
                <ion-col>
                  Latitud <br>
                  {{ latitud | number:"1.0-5" }}
                </ion-col>
                <ion-col>
                    Precisión <br>
                    {{ presicion | number:"1.0-5" }}
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="scan()">LEER QR</ion-button>
    <p class="ion-text-center">Ubicaciones registradas <ion-badge color="primary">{{ ubicaciones.length }}</ion-badge></p>
    <h4 class="ion-text-center">Ubicaciones cercanas</h4>
    <ion-list>
        <div *ngFor="let trampa of trampas">
            <ion-item-sliding *ngIf='(trampa | calculateDistance: latitud: longitud: trampa.y: trampa.x) < 500 '>
                <ion-item button (click)="ubicacionDetalle(trampa.id)">
                    <ion-label>{{ trampa.name }}<span> ( {{ total | calculateDistance: latitud: longitud: trampa.y: trampa.x   }} M )</span></ion-label>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="navigate(trampa.x, trampa.y)">
                        <ion-icon name="navigate">Navegar</ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>   
        </div>
    </ion-list> 
</ion-content>
