<ion-content>
    <ion-list>
        <ion-list-header>
        <ion-label class="ion-text-justify">
                <ion-row>
                    <ion-col>Id</ion-col>
                    <ion-col>Nombre.</ion-col>
                </ion-row>  
            </ion-label>
        </ion-list-header>
        <ion-item class="content"  *ngFor="let fenologia of fenologias">
            <ion-col>{{ fenologia.id }}</ion-col>
            <ion-col>{{ fenologia.name }}</ion-col>
        </ion-item>
    </ion-list>
</ion-content>